/*
Colors
	orange: #f9bf3b sau #ff8c00 sau #ff682e
	blue: #073976
	light blue: #c7d1ff or #b4c0c5
*******************/

/*
General styles
***************/
body {
	font-family: 'Open Sans', sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
	font-weight: 800; 
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-dsb2b8');
	src:url('../fonts/icomoon.eot?#iefix-dsb2b8') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-dsb2b8') format('truetype'),
		url('../fonts/icomoon.woff?-dsb2b8') format('woff'),
		url('../fonts/icomoon.svg?-dsb2b8#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
}

.icon-facebook3:before {
    content: "\e600";
}

.icon-twitter3:before {
    content: "\e601";
}

/*
Header
***************/
nav li:nth-child(4) {
	font-weight: 800; 
}

.navbar {
	background: #fa6d32;
}

.navbar .nav li a {
	color: #eee;

}

.navbar .nav li.active a{
	background: #9e4224;
	color: #eee;
}

.navbar .nav li {
	display: none; 
}

.nav li:nth-child(3) {
	display: block; 
}
/*
Intro 
***************/
.op {
	margin-top: 60px;
	height: 600px; 
	background: linear-gradient(rgba(0,0,0, 0.2), rgba(0,0,0, 0.4)),
		url('../img/574718_367250229978425_225953110_n.jpg') center no-repeat;
	background-size: cover; 
}

.intro-headline {
	position: relative;
	top: 400px;
	color: #eee;
}

.logo {
	margin: 17px 0 0 17px;
}

.glyphicon-chevron-down {
	font-size: 2.2em;
	color: #eee;
	width: 100%;
	position: relative;
	top: 490px;
}

.social-media {
	text-align: right;
	padding-right: 25px; 
}

.social-media li {
	list-style: none;	
	display: inline-block;
	color: #eee; 
	font-size: 2.3em;
	text-decoration: none; 
	color: #eee;
	margin-top: 20px;
	margin-right: 10px;

}

.social-media li a:hover {
	color: #ccc;
}
.social-media li a {
		text-decoration: none; 
	  color: #eee;	
}

.intro-headline {
	font-size: 1.5em; 
}
/*
Mission 
***************/
.mission {
	margin: 0 0 20px;
	height: 500px;
	background: radial-gradient(circle, #eee, #c7e0ff);
	color: #111;
  text-align: center;
	position: relative;
	overflow: hidden; 

}

.mission:before {
	  content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.13;
    background-image: url('../img/377924_288590567844392_425103436_n.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
	
}

.mission .container {
	margin: 20px auto 50px; 
}

.mission .lead {
	margin-top: 30px;
}
/*
Features
***************/
.features {
margin: 30px 0; 	
}

.features h1 {
	text-align: center;
	margin-bottom: 50px; 
}

.features .glyphicon {
	font-size: 2.8em;
	padding: 18px; 
	border: 2px solid #444;
	border-radius: 100%;
 
}

.features .glyphicon:hover {
	animation: roll-and-enlarge 2s 1;
	-webkit-animation: roll-and-enlarge 2s 1;
	-moz-animation: roll-and-enlarge 2s 1;
	-o-animation: roll-and-enlarge 2s 1;
}

@keyframes roll-and-enlarge {
  0% {
    transform: rotate(0);
  }
	
	50% {
		font-size: 3.4em;
		padding: 30px;	
	}
  100% {
    transform: rotate(360deg);
	  font-size: 2.8em;
		padding: 18px;
  }
}

.features .feature-title {
	margin: 20px 0
}

/*
Extra Info
***************/
.extra-info {
	height: 85px; 
	background: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url('../img/Union-Jack_cropped.jpg') repeat-x;
	background-position: center;
	text-align: center;
	margin: 70px 0; 
}

.extra-info .container-fluid {
	margin: 0; 
}
.extra-info a {
	text-decoration: none;
	color: #eee;
	display: block; 
	padding: 9px;

 }

.extra-info a:hover {
	color: #999;
}

.extra-info h2 {
	font-size: 1.8em;
}

/*
Testimonials
***************/

.testimonials h1 {
	text-align: center;
	margin-bottom: 50px;
	font-size: 4em; 
}

.testimonials .col-sm-6:first-child {
	padding-right: 25px;
	border-right: 1px solid #ff682e;
}

.testimonials .col-sm-6:nth-child(2) {
	padding-left: 25px;
}

.testimonials .tst-entry {
	padding-top: 25px;
	padding-bottom: 25px;
	border-bottom: 
}

.testimonials p {
	text-align:justify;
	font-size: 1.1em;
	line-height: 1.4em;
	
}

.testimonials h6 {
	text-align: right;
	margin-top: 20px;
}

.testimonials h6 a {
	color: #073976;
}

/*
Study UK
***************/
.study-uk .jumbotron {
	background: radial-gradient(circle, #eee, #c7e0ff);
	color: #111;	
}

.study-uk h1 {
	margin-bottom: 45px;
}

/*
Footer
***************/

footer {
	background: #222;
	color: #eee; 
}

footer .logo {
	margin-left: 0; 
}

footer .contact {
	margin-left: 40px; 
}

footer h4 {
	margin: 20px 2px 10px 30px;
	font-size: 1.5em;
}

footer ul {
	list-style: none; 
}

footer ul li {
	padding: 7px
}

footer ul li:nth-child(1) a {
	color: #ff682e;  
}

footer ul li a {
	padding: 7px 80px 7px 20px; 
}

footer .glyphicon {
	margin-right: 5px;
}

footer h6 {
	padding: 10px;
}

/*
Media Queries
***************/
@media (max-width: 367px){
	
	.mission .container h1 {
		font-size: 0.2em; 	
	}
	
	.extra-info h2 {
		position: relative;
		bottom: 14px; 
	}
}

@media (max-width: 489px) {   
	.mission .container h1 {
		font-size: 2em; 
	}
	
	.mission .container p {
		font-size: 1.2em;
 
	}
}

@media (min-width: 456px) and (max-width: 620px) {
	.extra-info h1 {
		padding-top: 20px;	
	}
}

@media (max-width: 620px) {   
	
	.intro-headline {
		position: relative;
		top: 360px;
		text-align: right; 
	}
	.extra-info {
		height: 140px; 	
	}
	
	.extra-info h2 {
		line-height: 1.3em;	

	}
	
}

@media (max-width: 767px) {
	.mission {
		height: 400px;	
	}
	
	.features .col-sm-4 {
		margin-bottom: 45px;
		font-size: 1.3em;
	}
	
	.testimonials .col-sm-6:first-child {
		border: none;	
	}
	
	.testimonials .tst-entry {
		padding-bottom: 14px;
		margin: 10px 30px 40px;
		border-radius: 13px;
		border: 2px solid #444;;
	}
	
	.testimonials p, .testimonials h6 {
		padding: 0 25px
	}
	
  .testimonials p {
		font-size: 1.3em;	
	}
	footer .logo {
			max-width: 340px;
		  margin-bottom: 30px;
	}
	
	footer .contact {
			margin-left: 30px; 
	}
	
}

@media (min-width: 768px) and (max-width: 1199px) {
		
		.intro-headline {
			font-size: 1.6em;	
		}
		.mission h1 {
			font-size: 4.1em; 	
		}
		.extra-info h2 {
			position: relative;
			bottom: 12px; 
		}
	
	@media (min-width: 1000px) and (max-width: 3600px) {
		.intro-headline {
			font-size: 1.9em;	
		}		
	}
}