@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/bootstrap/glyphicons-halflings-regular.eot");
  src: url("../fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/bootstrap/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/bootstrap/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/bootstrap/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); }
/* line 24, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 37, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-asterisk:before {
  content: "\002a"; }

/* line 38, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-plus:before {
  content: "\002b"; }

/* line 40, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-euro:before,
.glyphicon-eur:before {
  content: "\20ac"; }

/* line 41, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-minus:before {
  content: "\2212"; }

/* line 42, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-cloud:before {
  content: "\2601"; }

/* line 43, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-envelope:before {
  content: "\2709"; }

/* line 44, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-pencil:before {
  content: "\270f"; }

/* line 45, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-glass:before {
  content: "\e001"; }

/* line 46, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-music:before {
  content: "\e002"; }

/* line 47, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-search:before {
  content: "\e003"; }

/* line 48, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-heart:before {
  content: "\e005"; }

/* line 49, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-star:before {
  content: "\e006"; }

/* line 50, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-star-empty:before {
  content: "\e007"; }

/* line 51, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-user:before {
  content: "\e008"; }

/* line 52, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-film:before {
  content: "\e009"; }

/* line 53, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-th-large:before {
  content: "\e010"; }

/* line 54, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-th:before {
  content: "\e011"; }

/* line 55, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-th-list:before {
  content: "\e012"; }

/* line 56, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-ok:before {
  content: "\e013"; }

/* line 57, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-remove:before {
  content: "\e014"; }

/* line 58, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-zoom-in:before {
  content: "\e015"; }

/* line 59, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-zoom-out:before {
  content: "\e016"; }

/* line 60, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-off:before {
  content: "\e017"; }

/* line 61, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-signal:before {
  content: "\e018"; }

/* line 62, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-cog:before {
  content: "\e019"; }

/* line 63, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-trash:before {
  content: "\e020"; }

/* line 64, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-home:before {
  content: "\e021"; }

/* line 65, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-file:before {
  content: "\e022"; }

/* line 66, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-time:before {
  content: "\e023"; }

/* line 67, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-road:before {
  content: "\e024"; }

/* line 68, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-download-alt:before {
  content: "\e025"; }

/* line 69, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-download:before {
  content: "\e026"; }

/* line 70, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-upload:before {
  content: "\e027"; }

/* line 71, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-inbox:before {
  content: "\e028"; }

/* line 72, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-play-circle:before {
  content: "\e029"; }

/* line 73, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-repeat:before {
  content: "\e030"; }

/* line 74, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-refresh:before {
  content: "\e031"; }

/* line 75, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-list-alt:before {
  content: "\e032"; }

/* line 76, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-lock:before {
  content: "\e033"; }

/* line 77, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-flag:before {
  content: "\e034"; }

/* line 78, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-headphones:before {
  content: "\e035"; }

/* line 79, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-volume-off:before {
  content: "\e036"; }

/* line 80, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-volume-down:before {
  content: "\e037"; }

/* line 81, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-volume-up:before {
  content: "\e038"; }

/* line 82, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-qrcode:before {
  content: "\e039"; }

/* line 83, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-barcode:before {
  content: "\e040"; }

/* line 84, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-tag:before {
  content: "\e041"; }

/* line 85, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-tags:before {
  content: "\e042"; }

/* line 86, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-book:before {
  content: "\e043"; }

/* line 87, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-bookmark:before {
  content: "\e044"; }

/* line 88, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-print:before {
  content: "\e045"; }

/* line 89, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-camera:before {
  content: "\e046"; }

/* line 90, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-font:before {
  content: "\e047"; }

/* line 91, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-bold:before {
  content: "\e048"; }

/* line 92, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-italic:before {
  content: "\e049"; }

/* line 93, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-text-height:before {
  content: "\e050"; }

/* line 94, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-text-width:before {
  content: "\e051"; }

/* line 95, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-align-left:before {
  content: "\e052"; }

/* line 96, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-align-center:before {
  content: "\e053"; }

/* line 97, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-align-right:before {
  content: "\e054"; }

/* line 98, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-align-justify:before {
  content: "\e055"; }

/* line 99, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-list:before {
  content: "\e056"; }

/* line 100, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-indent-left:before {
  content: "\e057"; }

/* line 101, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-indent-right:before {
  content: "\e058"; }

/* line 102, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-facetime-video:before {
  content: "\e059"; }

/* line 103, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-picture:before {
  content: "\e060"; }

/* line 104, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-map-marker:before {
  content: "\e062"; }

/* line 105, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-adjust:before {
  content: "\e063"; }

/* line 106, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-tint:before {
  content: "\e064"; }

/* line 107, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-edit:before {
  content: "\e065"; }

/* line 108, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-share:before {
  content: "\e066"; }

/* line 109, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-check:before {
  content: "\e067"; }

/* line 110, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-move:before {
  content: "\e068"; }

/* line 111, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-step-backward:before {
  content: "\e069"; }

/* line 112, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-fast-backward:before {
  content: "\e070"; }

/* line 113, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-backward:before {
  content: "\e071"; }

/* line 114, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-play:before {
  content: "\e072"; }

/* line 115, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-pause:before {
  content: "\e073"; }

/* line 116, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-stop:before {
  content: "\e074"; }

/* line 117, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-forward:before {
  content: "\e075"; }

/* line 118, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-fast-forward:before {
  content: "\e076"; }

/* line 119, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-step-forward:before {
  content: "\e077"; }

/* line 120, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-eject:before {
  content: "\e078"; }

/* line 121, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-chevron-left:before {
  content: "\e079"; }

/* line 122, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-chevron-right:before {
  content: "\e080"; }

/* line 123, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-plus-sign:before {
  content: "\e081"; }

/* line 124, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-minus-sign:before {
  content: "\e082"; }

/* line 125, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-remove-sign:before {
  content: "\e083"; }

/* line 126, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-ok-sign:before {
  content: "\e084"; }

/* line 127, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-question-sign:before {
  content: "\e085"; }

/* line 128, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-info-sign:before {
  content: "\e086"; }

/* line 129, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-screenshot:before {
  content: "\e087"; }

/* line 130, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-remove-circle:before {
  content: "\e088"; }

/* line 131, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-ok-circle:before {
  content: "\e089"; }

/* line 132, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-ban-circle:before {
  content: "\e090"; }

/* line 133, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-arrow-left:before {
  content: "\e091"; }

/* line 134, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-arrow-right:before {
  content: "\e092"; }

/* line 135, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-arrow-up:before {
  content: "\e093"; }

/* line 136, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-arrow-down:before {
  content: "\e094"; }

/* line 137, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-share-alt:before {
  content: "\e095"; }

/* line 138, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-resize-full:before {
  content: "\e096"; }

/* line 139, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-resize-small:before {
  content: "\e097"; }

/* line 140, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-exclamation-sign:before {
  content: "\e101"; }

/* line 141, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-gift:before {
  content: "\e102"; }

/* line 142, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-leaf:before {
  content: "\e103"; }

/* line 143, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-fire:before {
  content: "\e104"; }

/* line 144, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-eye-open:before {
  content: "\e105"; }

/* line 145, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-eye-close:before {
  content: "\e106"; }

/* line 146, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-warning-sign:before {
  content: "\e107"; }

/* line 147, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-plane:before {
  content: "\e108"; }

/* line 148, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-calendar:before {
  content: "\e109"; }

/* line 149, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-random:before {
  content: "\e110"; }

/* line 150, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-comment:before {
  content: "\e111"; }

/* line 151, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-magnet:before {
  content: "\e112"; }

/* line 152, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-chevron-up:before {
  content: "\e113"; }

/* line 153, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-chevron-down:before {
  content: "\e114"; }

/* line 154, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-retweet:before {
  content: "\e115"; }

/* line 155, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-shopping-cart:before {
  content: "\e116"; }

/* line 156, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-folder-close:before {
  content: "\e117"; }

/* line 157, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-folder-open:before {
  content: "\e118"; }

/* line 158, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-resize-vertical:before {
  content: "\e119"; }

/* line 159, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-resize-horizontal:before {
  content: "\e120"; }

/* line 160, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-hdd:before {
  content: "\e121"; }

/* line 161, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-bullhorn:before {
  content: "\e122"; }

/* line 162, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-bell:before {
  content: "\e123"; }

/* line 163, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-certificate:before {
  content: "\e124"; }

/* line 164, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-thumbs-up:before {
  content: "\e125"; }

/* line 165, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-thumbs-down:before {
  content: "\e126"; }

/* line 166, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-hand-right:before {
  content: "\e127"; }

/* line 167, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-hand-left:before {
  content: "\e128"; }

/* line 168, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-hand-up:before {
  content: "\e129"; }

/* line 169, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-hand-down:before {
  content: "\e130"; }

/* line 170, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-circle-arrow-right:before {
  content: "\e131"; }

/* line 171, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-circle-arrow-left:before {
  content: "\e132"; }

/* line 172, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-circle-arrow-up:before {
  content: "\e133"; }

/* line 173, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-circle-arrow-down:before {
  content: "\e134"; }

/* line 174, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-globe:before {
  content: "\e135"; }

/* line 175, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-wrench:before {
  content: "\e136"; }

/* line 176, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-tasks:before {
  content: "\e137"; }

/* line 177, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-filter:before {
  content: "\e138"; }

/* line 178, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-briefcase:before {
  content: "\e139"; }

/* line 179, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-fullscreen:before {
  content: "\e140"; }

/* line 180, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-dashboard:before {
  content: "\e141"; }

/* line 181, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-paperclip:before {
  content: "\e142"; }

/* line 182, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-heart-empty:before {
  content: "\e143"; }

/* line 183, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-link:before {
  content: "\e144"; }

/* line 184, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-phone:before {
  content: "\e145"; }

/* line 185, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-pushpin:before {
  content: "\e146"; }

/* line 186, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-usd:before {
  content: "\e148"; }

/* line 187, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-gbp:before {
  content: "\e149"; }

/* line 188, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-sort:before {
  content: "\e150"; }

/* line 189, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-sort-by-alphabet:before {
  content: "\e151"; }

/* line 190, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152"; }

/* line 191, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-sort-by-order:before {
  content: "\e153"; }

/* line 192, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-sort-by-order-alt:before {
  content: "\e154"; }

/* line 193, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-sort-by-attributes:before {
  content: "\e155"; }

/* line 194, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-sort-by-attributes-alt:before {
  content: "\e156"; }

/* line 195, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-unchecked:before {
  content: "\e157"; }

/* line 196, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-expand:before {
  content: "\e158"; }

/* line 197, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-collapse-down:before {
  content: "\e159"; }

/* line 198, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-collapse-up:before {
  content: "\e160"; }

/* line 199, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-log-in:before {
  content: "\e161"; }

/* line 200, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-flash:before {
  content: "\e162"; }

/* line 201, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-log-out:before {
  content: "\e163"; }

/* line 202, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-new-window:before {
  content: "\e164"; }

/* line 203, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-record:before {
  content: "\e165"; }

/* line 204, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-save:before {
  content: "\e166"; }

/* line 205, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-open:before {
  content: "\e167"; }

/* line 206, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-saved:before {
  content: "\e168"; }

/* line 207, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-import:before {
  content: "\e169"; }

/* line 208, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-export:before {
  content: "\e170"; }

/* line 209, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-send:before {
  content: "\e171"; }

/* line 210, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-floppy-disk:before {
  content: "\e172"; }

/* line 211, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-floppy-saved:before {
  content: "\e173"; }

/* line 212, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-floppy-remove:before {
  content: "\e174"; }

/* line 213, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-floppy-save:before {
  content: "\e175"; }

/* line 214, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-floppy-open:before {
  content: "\e176"; }

/* line 215, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-credit-card:before {
  content: "\e177"; }

/* line 216, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-transfer:before {
  content: "\e178"; }

/* line 217, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-cutlery:before {
  content: "\e179"; }

/* line 218, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-header:before {
  content: "\e180"; }

/* line 219, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-compressed:before {
  content: "\e181"; }

/* line 220, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-earphone:before {
  content: "\e182"; }

/* line 221, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-phone-alt:before {
  content: "\e183"; }

/* line 222, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-tower:before {
  content: "\e184"; }

/* line 223, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-stats:before {
  content: "\e185"; }

/* line 224, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-sd-video:before {
  content: "\e186"; }

/* line 225, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-hd-video:before {
  content: "\e187"; }

/* line 226, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-subtitles:before {
  content: "\e188"; }

/* line 227, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-sound-stereo:before {
  content: "\e189"; }

/* line 228, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-sound-dolby:before {
  content: "\e190"; }

/* line 229, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-sound-5-1:before {
  content: "\e191"; }

/* line 230, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-sound-6-1:before {
  content: "\e192"; }

/* line 231, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-sound-7-1:before {
  content: "\e193"; }

/* line 232, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-copyright-mark:before {
  content: "\e194"; }

/* line 233, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-registration-mark:before {
  content: "\e195"; }

/* line 234, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-cloud-download:before {
  content: "\e197"; }

/* line 235, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-cloud-upload:before {
  content: "\e198"; }

/* line 236, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-tree-conifer:before {
  content: "\e199"; }

/* line 237, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-tree-deciduous:before {
  content: "\e200"; }

/* line 238, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-cd:before {
  content: "\e201"; }

/* line 239, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-save-file:before {
  content: "\e202"; }

/* line 240, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-open-file:before {
  content: "\e203"; }

/* line 241, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-level-up:before {
  content: "\e204"; }

/* line 242, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-copy:before {
  content: "\e205"; }

/* line 243, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-paste:before {
  content: "\e206"; }

/* line 252, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-alert:before {
  content: "\e209"; }

/* line 253, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-equalizer:before {
  content: "\e210"; }

/* line 254, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-king:before {
  content: "\e211"; }

/* line 255, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-queen:before {
  content: "\e212"; }

/* line 256, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-pawn:before {
  content: "\e213"; }

/* line 257, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-bishop:before {
  content: "\e214"; }

/* line 258, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-knight:before {
  content: "\e215"; }

/* line 259, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-baby-formula:before {
  content: "\e216"; }

/* line 260, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-tent:before {
  content: "\26fa"; }

/* line 261, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-blackboard:before {
  content: "\e218"; }

/* line 262, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-bed:before {
  content: "\e219"; }

/* line 263, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-apple:before {
  content: "\f8ff"; }

/* line 264, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-erase:before {
  content: "\e221"; }

/* line 265, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-hourglass:before {
  content: "\231b"; }

/* line 266, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-lamp:before {
  content: "\e223"; }

/* line 267, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-duplicate:before {
  content: "\e224"; }

/* line 268, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-piggy-bank:before {
  content: "\e225"; }

/* line 269, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-scissors:before {
  content: "\e226"; }

/* line 270, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-bitcoin:before {
  content: "\e227"; }

/* line 271, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-btc:before {
  content: "\e227"; }

/* line 272, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-xbt:before {
  content: "\e227"; }

/* line 273, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-yen:before {
  content: "\00a5"; }

/* line 274, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-jpy:before {
  content: "\00a5"; }

/* line 275, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-ruble:before {
  content: "\20bd"; }

/* line 276, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-rub:before {
  content: "\20bd"; }

/* line 277, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-scale:before {
  content: "\e230"; }

/* line 278, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-ice-lolly:before {
  content: "\e231"; }

/* line 279, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-ice-lolly-tasted:before {
  content: "\e232"; }

/* line 280, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-education:before {
  content: "\e233"; }

/* line 281, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-option-horizontal:before {
  content: "\e234"; }

/* line 282, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-option-vertical:before {
  content: "\e235"; }

/* line 283, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-menu-hamburger:before {
  content: "\e236"; }

/* line 284, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-modal-window:before {
  content: "\e237"; }

/* line 285, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-oil:before {
  content: "\e238"; }

/* line 286, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-grain:before {
  content: "\e239"; }

/* line 287, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-sunglasses:before {
  content: "\e240"; }

/* line 288, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-text-size:before {
  content: "\e241"; }

/* line 289, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-text-color:before {
  content: "\e242"; }

/* line 290, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-text-background:before {
  content: "\e243"; }

/* line 291, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-object-align-top:before {
  content: "\e244"; }

/* line 292, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-object-align-bottom:before {
  content: "\e245"; }

/* line 293, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-object-align-horizontal:before {
  content: "\e246"; }

/* line 294, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-object-align-left:before {
  content: "\e247"; }

/* line 295, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-object-align-vertical:before {
  content: "\e248"; }

/* line 296, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-object-align-right:before {
  content: "\e249"; }

/* line 297, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-triangle-right:before {
  content: "\e250"; }

/* line 298, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-triangle-left:before {
  content: "\e251"; }

/* line 299, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-triangle-bottom:before {
  content: "\e252"; }

/* line 300, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-triangle-top:before {
  content: "\e253"; }

/* line 301, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-console:before {
  content: "\e254"; }

/* line 302, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-superscript:before {
  content: "\e255"; }

/* line 303, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-subscript:before {
  content: "\e256"; }

/* line 304, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-menu-left:before {
  content: "\e257"; }

/* line 305, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-menu-right:before {
  content: "\e258"; }

/* line 306, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-menu-down:before {
  content: "\e259"; }

/* line 307, ../scss/external/bootstrap/_glyphicons.scss */
.glyphicon-menu-up:before {
  content: "\e260"; }

@font-face {
  font-family: "Glyphicons Halflings";
  src: url("../fonts/glyphicons-halflings-regular.eot") format("eot"), url("../fonts/glyphicons-halflings-regular.svg") format("svg"), url("../fonts/glyphicons-halflings-regular.ttf") format("ttf"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.woff") format("woff2"); }
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot") format("eot"), url("../fonts/icomoon.svg") format("svg"), url("../fonts/icomoon.ttf") format("ttf"), url("../fonts/icomoon.woff") format("woff"); }
/* line 18, ../scss/utils/fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1; }

/* line 28, ../scss/utils/fonts.scss */
.icon-facebook3:before {
  content: "\e600"; }

/* line 32, ../scss/utils/fonts.scss */
.icon-twitter3:before {
  content: "\e601"; }

/**
* spinkit
**/
@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }
@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
@keyframes btn-fontSize {
  0% {
    font-size: 10px; }
  50% {
    font-size: 20px; }
  100% {
    font-size: 10px; } }
/* line 1, ../scss/utils/classes.scss */
.sr-only {
  position: absolute;
  left: 10000px;
  overflow: hidden; }

/* line 7, ../scss/utils/classes.scss */
.visible-mob {
  display: none; }
  @media (max-width: 767px) {
    /* line 7, ../scss/utils/classes.scss */
    .visible-mob {
      display: block; } }

@media (max-width: 767px) {
  /* line 14, ../scss/utils/classes.scss */
  .hidden-mob {
    display: none; } }

/* line 20, ../scss/utils/classes.scss */
.visible-tablet {
  display: none; }
  @media (min-width: 768px) and (max-width: 1024px) {
    /* line 20, ../scss/utils/classes.scss */
    .visible-tablet {
      display: block; } }

@media (min-width: 768px) and (max-width: 1024px) {
  /* line 27, ../scss/utils/classes.scss */
  .hidden-tablet {
    display: none; } }

/* line 1, ../scss/main/navbar.scss */
header {
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  background-color: #ca4012;
  padding: 1% 0; }
  @media (max-width: 767px) {
    /* line 1, ../scss/main/navbar.scss */
    header {
      padding: 2% 0; } }
  /* line 11, ../scss/main/navbar.scss */
  header nav {
    width: 21%;
    margin: 0 0 0 74%; }
    @media (max-width: 767px) {
      /* line 11, ../scss/main/navbar.scss */
      header nav {
        width: 66%;
        margin-left: 30%; } }
    /* line 18, ../scss/main/navbar.scss */
    header nav .nav_link {
      display: inline-block;
      margin: 0 10% 0 0;
      font-family: "Open Sans";
      color: white;
      font-size: 24px;
      font-size: 1.25vw;
      text-decoration: none; }
      @media (max-width: 767px) {
        /* line 18, ../scss/main/navbar.scss */
        header nav .nav_link {
          font-size: 24px;
          font-size: 3.7vw; } }
      /* line 25, ../scss/main/navbar.scss */
      header nav .nav_link.nth-child {
        margin: 0; }
      /* line 28, ../scss/main/navbar.scss */
      header nav .nav_link:hover {
        text-decoration: underline; }
      /* line 31, ../scss/main/navbar.scss */
      header nav .nav_link.bold {
        font-weight: 800; }

/* line 1, ../scss/main/main_screen.scss */
#main_screen {
  width: 100%;
  margin: 0;
  background: url("../img//bg_main_screen.jpg") no-repeat center/100%;
  padding: 2% 0;
  position: relative; }
  @media (max-width: 767px) {
    /* line 1, ../scss/main/main_screen.scss */
    #main_screen {
      padding: 4% 0; } }
  /* line 10, ../scss/main/main_screen.scss */
  #main_screen .overlay {
    background-color: black;
    opacity: 0.45;
    z-index: 1; }
  /* line 15, ../scss/main/main_screen.scss */
  #main_screen .row, #main_screen .mission_statement, #main_screen .arrow_down, #main_screen .glyphicon-chevron-down {
    position: relative;
    z-index: 2; }
  /* line 19, ../scss/main/main_screen.scss */
  #main_screen .row {
    width: 95%;
    margin: 0 auto 30%;
    font-size: 0; }
    @media (max-width: 767px) {
      /* line 19, ../scss/main/main_screen.scss */
      #main_screen .row {
        width: 90%; } }
  /* line 27, ../scss/main/main_screen.scss */
  #main_screen .logo_white, #main_screen .social_media {
    display: inline-block;
    vertical-align: middle; }
    @media (max-width: 767px) {
      /* line 27, ../scss/main/main_screen.scss */
      #main_screen .logo_white, #main_screen .social_media {
        vertical-align: top; } }
  /* line 34, ../scss/main/main_screen.scss */
  #main_screen .logo_white {
    width: 24%;
    margin: 0 65% 0 0;
    background: url("../img//logo_white.png") no-repeat center/100%;
    padding-top: 5%; }
    @media (max-width: 767px) {
      /* line 34, ../scss/main/main_screen.scss */
      #main_screen .logo_white {
        width: 42%;
        padding-top: 8%;
        margin-right: 48%; } }
  /* line 46, ../scss/main/main_screen.scss */
  #main_screen .social_media a, #main_screen .mission_statement, #main_screen .glyphicon-chevron-down {
    color: #eee; }
  /* line 49, ../scss/main/main_screen.scss */
  #main_screen .social_media {
    width: 9%;
    margin: 0; }
    /* line 52, ../scss/main/main_screen.scss */
    #main_screen .social_media a {
      display: inline-block;
      vertical-align: middle;
      margin: 0 15% 0 0;
      text-decoration: none; }
      @media (max-width: 767px) {
        /* line 52, ../scss/main/main_screen.scss */
        #main_screen .social_media a {
          margin: 0 0 23%; } }
      /* line 60, ../scss/main/main_screen.scss */
      #main_screen .social_media a:last-child {
        margin: 0; }
    /* line 64, ../scss/main/main_screen.scss */
    #main_screen .social_media .social_btn {
      font-size: 50px;
      font-size: 2.60vw; }
      @media (max-width: 767px) {
        /* line 64, ../scss/main/main_screen.scss */
        #main_screen .social_media .social_btn {
          font-size: 50px;
          font-size: 4.90vw; } }
      /* line 66, ../scss/main/main_screen.scss */
      #main_screen .social_media .social_btn:hover {
        color: #a0a0a0; }
  /* line 71, ../scss/main/main_screen.scss */
  #main_screen .mission_statement {
    width: 90%;
    margin: 0 auto 5%;
    text-align: right;
    font-family: Merriweather;
    font-size: 35px;
    font-size: 1.82vw; }
    @media (max-width: 767px) {
      /* line 71, ../scss/main/main_screen.scss */
      #main_screen .mission_statement {
        font-size: 35px;
        font-size: 3.32vw; } }
    @media (max-width: 767px) {
      /* line 71, ../scss/main/main_screen.scss */
      #main_screen .mission_statement {
        margin-bottom: 3%; } }
  /* line 81, ../scss/main/main_screen.scss */
  #main_screen .glyphicon-chevron-down {
    width: 100%;
    font-size: 50px;
    font-size: 2.60vw;
    text-align: center; }
    @media (max-width: 767px) {
      /* line 81, ../scss/main/main_screen.scss */
      #main_screen .glyphicon-chevron-down {
        font-size: 50px;
        font-size: 4.90vw; } }

/* line 1, ../scss/main/intro_text.scss */
#intro_text_section {
  width: 100%;
  margin: 0;
  position: relative;
  padding: 7% 0; }
  /* line 6, ../scss/main/intro_text.scss */
  #intro_text_section .overlay {
    background: url("../img//bg_intro_text.jpg") no-repeat center/100%;
    opacity: 0.2; }
  /* line 10, ../scss/main/intro_text.scss */
  #intro_text_section .intro_text {
    width: 72%;
    margin: 0 auto;
    color: #222;
    text-align: center;
    position: relative;
    z-index: 2; }
    @media (max-width: 767px) {
      /* line 10, ../scss/main/intro_text.scss */
      #intro_text_section .intro_text {
        width: 93%; } }
    /* line 20, ../scss/main/intro_text.scss */
    #intro_text_section .intro_text h1 {
      margin: 0 0 4%;
      font-family: 'Merriweather';
      font-size: 62px;
      font-size: 3.22vw; }
      @media (max-width: 767px) {
        /* line 20, ../scss/main/intro_text.scss */
        #intro_text_section .intro_text h1 {
          font-size: 62px;
          font-size: 6.60vw; } }
      @media (max-width: 767px) {
        /* line 20, ../scss/main/intro_text.scss */
        #intro_text_section .intro_text h1 {
          font-size: 50px;
          font-size: 2.60vw; } }
  @media (max-width: 767px) and (max-width: 767px) {
    /* line 20, ../scss/main/intro_text.scss */
    #intro_text_section .intro_text h1 {
      font-size: 50px;
      font-size: 4.90vw; } }

    /* line 28, ../scss/main/intro_text.scss */
    #intro_text_section .intro_text p {
      margin: 0;
      font-family: "Open Sans";
      font-size: 26px;
      font-size: 1.35vw; }
      @media (max-width: 767px) {
        /* line 28, ../scss/main/intro_text.scss */
        #intro_text_section .intro_text p {
          font-size: 26px;
          font-size: 3.8vw; } }
      @media (max-width: 767px) {
        /* line 28, ../scss/main/intro_text.scss */
        #intro_text_section .intro_text p {
          font-size: 22px;
          font-size: 1.14vw; } }
  @media (max-width: 767px) and (max-width: 767px) {
    /* line 28, ../scss/main/intro_text.scss */
    #intro_text_section .intro_text p {
      font-size: 22px;
      font-size: 3.47vw; } }

@keyframes roll-and-enlarge {
  50% {
    width: 8vw;
    height: 8vw;
    line-height: 8vw;
    font-size: 55px;
    font-size: 2.86vw;
    @media (max-width: 767px) {
      font-size: 55px;
      font-size: 5.90vw; } }
  100% {
    width: 5vw;
    height: 5vw;
    transform: rotate(360deg);
    line-height: 5vw;
    font-size: 45px;
    font-size: 2.34vw;
    @media (max-width: 767px) {
      font-size: 45px;
      font-size: 4.68vw; } } }
/* line 19, ../scss/main/features.scss */
#features_section {
  width: 100%;
  margin: 0;
  color: #222;
  text-align: center;
  padding: 3% 0 5%; }
  @media (max-width: 767px) {
    /* line 19, ../scss/main/features.scss */
    #features_section {
      padding: 8% 0; } }
  /* line 28, ../scss/main/features.scss */
  #features_section .section_title {
    margin: 0 0 3%; }
    @media (max-width: 767px) {
      /* line 28, ../scss/main/features.scss */
      #features_section .section_title {
        margin-bottom: 6%; } }
  /* line 34, ../scss/main/features.scss */
  #features_section .features_container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    @media (max-width: 767px) {
      /* line 34, ../scss/main/features.scss */
      #features_section .features_container {
        flex-direction: column;
        align-items: center; } }
    /* line 44, ../scss/main/features.scss */
    #features_section .features_container .feature {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      @media (max-width: 767px) {
        /* line 44, ../scss/main/features.scss */
        #features_section .features_container .feature {
          width: 80%;
          margin: 0 0 5vw; } }
      /* line 53, ../scss/main/features.scss */
      #features_section .features_container .feature .glyphicon {
        width: 5vw;
        height: 5vw;
        margin: 0 0 2.5vw;
        border: 2px solid;
        border-radius: 50%;
        line-height: 5vw;
        font-size: 45px;
        font-size: 2.34vw; }
        @media (max-width: 767px) {
          /* line 53, ../scss/main/features.scss */
          #features_section .features_container .feature .glyphicon {
            font-size: 45px;
            font-size: 4.68vw; } }
        @media (max-width: 767px) {
          /* line 53, ../scss/main/features.scss */
          #features_section .features_container .feature .glyphicon {
            width: 15vw;
            height: 15vw;
            line-height: 15vw;
            font-size: 62px;
            font-size: 3.22vw; } }
  @media (max-width: 767px) and (max-width: 767px) {
    /* line 53, ../scss/main/features.scss */
    #features_section .features_container .feature .glyphicon {
      font-size: 62px;
      font-size: 6.60vw; } }

        /* line 67, ../scss/main/features.scss */
        #features_section .features_container .feature .glyphicon:hover {
          -webkit-animation: roll-and-enlarge 2s;
          -moz-animation: roll-and-enlarge 2s;
          -o-animation: roll-and-enlarge 2s;
          -ms-animation: roll-and-enlarge 2s;
          animation: roll-and-enlarge 2s; }
          @media (max-width: 767px) {
            /* line 67, ../scss/main/features.scss */
            #features_section .features_container .feature .glyphicon:hover {
              -webkit-animation: none;
              -moz-animation: none;
              -o-animation: none;
              -ms-animation: none;
              animation: none; } }
      /* line 74, ../scss/main/features.scss */
      #features_section .features_container .feature .feature_title {
        font-family: Merriweather, serif;
        margin: 0 0 1vw;
        font-size: 30px;
        font-size: 1.56vw; }
        @media (max-width: 767px) {
          /* line 74, ../scss/main/features.scss */
          #features_section .features_container .feature .feature_title {
            font-size: 30px;
            font-size: 3.72vw; } }
      /* line 79, ../scss/main/features.scss */
      #features_section .features_container .feature .feature_text {
        font-family: "Open Sans", sans-serif;
        font-size: 24px;
        font-size: 1.25vw;
        margin: 0; }
        @media (max-width: 767px) {
          /* line 79, ../scss/main/features.scss */
          #features_section .features_container .feature .feature_text {
            font-size: 24px;
            font-size: 3.7vw; } }

/* line 1, ../scss/main/cta_bar.scss */
.cta_bar {
  width: 100%;
  margin: 0;
  position: relative;
  background: url("../img//bg_cta.jpg") no-repeat center/100%;
  height: 5vw; }
  @media (max-width: 767px) {
    /* line 1, ../scss/main/cta_bar.scss */
    .cta_bar {
      height: 8vw; }
      /* line 9, ../scss/main/cta_bar.scss */
      .cta_bar.contact {
        height: 13vw; } }
  /* line 13, ../scss/main/cta_bar.scss */
  .cta_bar .overlay {
    background-color: black;
    opacity: 0.5; }
  /* line 17, ../scss/main/cta_bar.scss */
  .cta_bar a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
    text-decoration: none;
    color: #eee;
    padding-top: 1.5%; }
    /* line 29, ../scss/main/cta_bar.scss */
    .cta_bar a:hover {
      color: #a0a0a0; }
    /* line 32, ../scss/main/cta_bar.scss */
    .cta_bar a h4 {
      width: 100%;
      margin: 0;
      text-align: center;
      font-family: 'Merriweather', serif;
      font-size: 30px;
      font-size: 1.56vw; }
      @media (max-width: 767px) {
        /* line 32, ../scss/main/cta_bar.scss */
        .cta_bar a h4 {
          font-size: 30px;
          font-size: 3.72vw; } }
      @media (min-width: 768px) and (max-width: 1024px) {
        /* line 38, ../scss/main/cta_bar.scss */
        .cta_bar a h4 .visible-tablet {
          display: inline; } }
      @media (max-width: 767px) {
        /* line 38, ../scss/main/cta_bar.scss */
        .cta_bar a h4 .visible-tablet {
          display: inline; } }

/* line 1, ../scss/main/testimonials.scss */
#testimonial_section {
  width: 100%;
  margin: 0;
  padding: 8% 0 10%; }
  @media (max-width: 767px) {
    /* line 1, ../scss/main/testimonials.scss */
    #testimonial_section {
      padding: 15% 0; } }
  /* line 8, ../scss/main/testimonials.scss */
  #testimonial_section .section_title {
    margin: 0 0 2%; }
    @media (max-width: 767px) {
      /* line 8, ../scss/main/testimonials.scss */
      #testimonial_section .section_title {
        margin-bottom: 6%; } }
  /* line 14, ../scss/main/testimonials.scss */
  #testimonial_section .testimonial_container {
    width: 80%;
    margin: 0 auto;
    height: 41vw; }
    @media (max-width: 767px) {
      /* line 14, ../scss/main/testimonials.scss */
      #testimonial_section .testimonial_container {
        height: auto; } }
    @media (max-width: 767px) {
      /* line 21, ../scss/main/testimonials.scss */
      #testimonial_section .testimonial_container .controls {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; } }
    /* line 30, ../scss/main/testimonials.scss */
    #testimonial_section .testimonial_container .controls .glyphicon, #testimonial_section .testimonial_container .controls .marker {
      margin: 0 6% 0 0;
      cursor: pointer; }
      /* line 33, ../scss/main/testimonials.scss */
      #testimonial_section .testimonial_container .controls .glyphicon:last-child, #testimonial_section .testimonial_container .controls .marker:last-child {
        margin: 0; }
    /* line 37, ../scss/main/testimonials.scss */
    #testimonial_section .testimonial_container .controls .marker {
      width: 2.5vw;
      height: 2.5vw;
      border-radius: 50%;
      background-color: #eb5524; }
      /* line 42, ../scss/main/testimonials.scss */
      #testimonial_section .testimonial_container .controls .marker.active {
        background-color: #253651; }
    /* line 47, ../scss/main/testimonials.scss */
    #testimonial_section .testimonial_container .col, #testimonial_section .testimonial_container .separating_line {
      display: inline-block;
      vertical-align: middle;
      margin: 0 3% 0 0; }
      /* line 51, ../scss/main/testimonials.scss */
      #testimonial_section .testimonial_container .col:last-child, #testimonial_section .testimonial_container .separating_line:last-child {
        margin: 0; }
    /* line 55, ../scss/main/testimonials.scss */
    #testimonial_section .testimonial_container .col {
      width: 46%;
      padding: 1% 0; }
      @media (max-width: 767px) {
        /* line 55, ../scss/main/testimonials.scss */
        #testimonial_section .testimonial_container .col {
          width: 100%; } }
    /* line 62, ../scss/main/testimonials.scss */
    #testimonial_section .testimonial_container .separating_line {
      width: 0;
      height: 100%;
      border: 1px solid #eb5524; }
    /* line 67, ../scss/main/testimonials.scss */
    #testimonial_section .testimonial_container .testimonial {
      width: 100%;
      margin: 0 0 3%;
      color: #222;
      font-size: 26px;
      font-size: 1.35vw; }
      @media (max-width: 767px) {
        /* line 67, ../scss/main/testimonials.scss */
        #testimonial_section .testimonial_container .testimonial {
          font-size: 26px;
          font-size: 3.8vw; } }
      @media (max-width: 767px) {
        /* line 67, ../scss/main/testimonials.scss */
        #testimonial_section .testimonial_container .testimonial {
          display: none;
          opacity: 0; } }
      @media (max-width: 767px) {
        /* line 76, ../scss/main/testimonials.scss */
        #testimonial_section .testimonial_container .testimonial.active {
          display: block;
          opacity: 1; } }
      /* line 82, ../scss/main/testimonials.scss */
      #testimonial_section .testimonial_container .testimonial .testimonial_text {
        text-align: justify;
        font-family: "Open Sans", sans-serif; }
      /* line 86, ../scss/main/testimonials.scss */
      #testimonial_section .testimonial_container .testimonial .testimonial_author {
        width: 100%;
        text-align: right;
        font-family: 'Merriweather', serif; }

/* line 1, ../scss/main/footer.scss */
footer {
  width: 100%;
  margin: 0;
  background-color: #222;
  padding: 0 0 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  @media (max-width: 767px) {
    /* line 1, ../scss/main/footer.scss */
    footer {
      padding: 5% 0;
      justify-content: space-around; } }
  /* line 14, ../scss/main/footer.scss */
  footer .logo_color {
    width: 23%;
    margin: 0 15% 0 0;
    background: url("../img//logo_color.png") no-repeat center/100%;
    padding-top: 10%; }
    @media (max-width: 767px) {
      /* line 14, ../scss/main/footer.scss */
      footer .logo_color {
        width: 45%;
        padding-top: 15%;
        margin: 0; } }
  /* line 25, ../scss/main/footer.scss */
  footer .contact_list {
    width: 18%;
    margin: 0; }
    @media (max-width: 767px) {
      /* line 25, ../scss/main/footer.scss */
      footer .contact_list {
        width: 40%; } }
    /* line 31, ../scss/main/footer.scss */
    footer .contact_list h3 {
      width: 100%;
      margin: 0 0 4%;
      text-align: left;
      color: #eee;
      font-family: Merriweather, serif;
      font-size: 26px;
      font-size: 1.35vw; }
      @media (max-width: 767px) {
        /* line 31, ../scss/main/footer.scss */
        footer .contact_list h3 {
          font-size: 26px;
          font-size: 3.8vw; } }
      @media (max-width: 767px) {
        /* line 31, ../scss/main/footer.scss */
        footer .contact_list h3 {
          margin-bottom: 6%; } }
    /* line 42, ../scss/main/footer.scss */
    footer .contact_list .contact_item {
      width: 90%;
      margin: 0 0 2% 10%;
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-size: 1.04vw; }
      @media (max-width: 767px) {
        /* line 42, ../scss/main/footer.scss */
        footer .contact_list .contact_item {
          font-size: 20px;
          font-size: 2.98vw; } }
      @media (max-width: 767px) {
        /* line 42, ../scss/main/footer.scss */
        footer .contact_list .contact_item {
          font-size: 13px;
          font-size: 0.67vw;
          margin: 0 0 4% 0; } }
  @media (max-width: 767px) and (max-width: 767px) {
    /* line 42, ../scss/main/footer.scss */
    footer .contact_list .contact_item {
      font-size: 13px;
      font-size: 2.55vw; } }

      /* line 51, ../scss/main/footer.scss */
      footer .contact_list .contact_item:nth-child(2n+1) {
        color: #eb5524; }
      /* line 54, ../scss/main/footer.scss */
      footer .contact_list .contact_item:nth-child(2n) {
        color: #5b7db4; }
      /* line 57, ../scss/main/footer.scss */
      footer .contact_list .contact_item:last-child {
        margin-bottom: 0; }
      /* line 60, ../scss/main/footer.scss */
      footer .contact_list .contact_item a {
        color: inherit;
        text-decoration: none; }
        /* line 63, ../scss/main/footer.scss */
        footer .contact_list .contact_item a:hover {
          text-decoration: underline; }

/* line 9, ../scss/main/~main.scss */
body {
  width: 100%;
  margin: 0;
  padding-top: 4%; }
  @media (max-width: 767px) {
    /* line 9, ../scss/main/~main.scss */
    body {
      padding-top: 9%; } }

/* line 17, ../scss/main/~main.scss */
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

/* line 25, ../scss/main/~main.scss */
.section_title {
  width: 100%;
  font-family: 'Merriweather', serif;
  font-size: 35px;
  font-size: 1.82vw;
  text-align: center; }
  @media (max-width: 767px) {
    /* line 25, ../scss/main/~main.scss */
    .section_title {
      font-size: 35px;
      font-size: 3.32vw; } }
  @media (max-width: 767px) {
    /* line 25, ../scss/main/~main.scss */
    .section_title {
      font-size: 50px;
      font-size: 2.60vw; } }
  @media (max-width: 767px) and (max-width: 767px) {
    /* line 25, ../scss/main/~main.scss */
    .section_title {
      font-size: 50px;
      font-size: 4.90vw; } }

/*# sourceMappingURL=styles.css.map */
