.sr-only {
  position: absolute;
  left: 10000px;
  overflow: hidden ;
}

.visible-mob {
  display: none;
  @include mobile {
    display: block;
  }
}

.hidden-mob {
  @include mobile {
    display: none ;
  }
}

.visible-tablet {
  display: none;
  @include tablet {
    display: block;
  }
}

.hidden-tablet {
  @include tablet {
    display: none ;
  }
}