.cta_bar {
  width: 100%;
  margin: 0;
  position: relative;
  background: url("#{$img_path}/bg_cta.jpg") no-repeat center/100%;
  height: 5vw;
  @include transition(all 1s ease) ;
  @include mobile {
    height: 8vw;
    &.contact {
      height: 13vw;
    }
  }
  &.glowy {
    text-shadow: 5px 5px 1.5em #eee, 5px -5px 1.5em #fff,  -5px 5px 1.5em #eee, -5px -5px 1.5em #fff;
  }
  .overlay {
    background-color: black;
    opacity: 0.5;
  }
  a{
    display: block;
    width: 95%;
    margin: 0 auto;
    height: 100%;
    position: relative;
    z-index: 2;
    text-decoration: none;
    color: #eee;
    padding-top: 1.5%;
    @include mobile {

    }
    &:hover {
      color: darken(lightgrey, 20%);
    }
    h4 {
      width: 100%;
      margin: 0;
      text-align: center;
      font-family: 'Merriweather', serif;
      @include font-s30 ;
      .visible-tablet {
        @include tablet {
          display: inline;
        }
        @include mobile {
          display: inline;
        }
      }

    }
  }
}