footer {
  width: 100%;
  margin: 0;
  background-color: #222;
  padding: 2% 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @include mobile{
    padding: 5% 0;
    justify-content: space-around;
  }
  .logo_color {
    width: 23%;
    margin: 0 15% 0 0;
    background: url("#{$img_path}/logo_color.png") no-repeat center/100%;
    padding-top: 5vw;
    @include mobile {
      width: 45%;
      padding-top: 11vw;
      margin: 0;
    }
  }
  .contact_list {
    width: 18%;
    margin: 0;
    @include mobile {
      width: 40%;
    }
    h3 {
      width: 100%;
      margin: 0 0 4%;
      text-align: left;
      color: #eee;
      font-family: Merriweather, serif;
      @include font-s26;
      @include mobile {
        margin-bottom: 6%;
      }
    }
    .contact_item {
      width: 90%;
      margin: 0 0 2% 10%;
      font-family: "Open Sans", sans-serif;
      @include font-s20;
      @include mobile {
        @include font-s13;
        margin: 0 0 4% 0;
      }
      &:nth-child(2n+1) {
        color: $orange;
      }
      &:nth-child(2n) {
        color: lighten($blue, 30%);
      }
      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: inherit;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}